<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
    xmlns:jee="http://www.springframework.org/schema/jee" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">
       
    <!-- 天气定时任务begin -->
    <bean id="weatherTimingSchedule" class="com.bert.timer.WeatherTimingSchedule"/>
    <!-- 加入定时执行的方法 -->
    <bean id="weatherTimingScheduleJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 定时执行的类 -->
        <property name="targetObject" ref="weatherTimingSchedule"/>
        <!-- 具体的方法 -->
        <property name="targetMethod" value="execute"/>
    </bean>
     <!-- 调度触发器，设置自己想要的时间规则 -->
    <bean id="weatherTimingScheduleTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!-- 加入相关的执行类和方法 -->
        <property name="jobDetail" ref="weatherTimingScheduleJobDetail"/>
        <!-- 设置时间规则 （为了方便测试，设置成一分钟一次。具体的规则见详情）-->
        <property name="cronExpression" value="0/10 * * * * ? "/>    
    </bean>
    <!-- 天气定时任务end -->
    
    
     <!-- 股票定时任务begin -->
    <bean id="stockTimingSchedule" class="com.bert.timer.StockTimingSchedule"/>
    <!-- 加入定时执行的方法 -->
    <bean id="stockTimingScheduleJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 定时执行的类 -->
        <property name="targetObject" ref="stockTimingSchedule"/>
        <!-- 具体的方法 -->
        <property name="targetMethod" value="execute"/>
    </bean>
     <!-- 调度触发器，设置自己想要的时间规则 -->
    <bean id="stockTimingScheduleTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!-- 加入相关的执行类和方法 -->
        <property name="jobDetail" ref="stockTimingScheduleJobDetail"/>
        <!-- 设置时间规则 （为了方便测试，设置成一分钟一次。具体的规则见详情）-->
        <property name="cronExpression" value="0/5 * * * * ? "/>    
    </bean>
    <!-- 股票定时任务end -->
    
    
    <!-- 将两个定时任务加入调度工厂 ,设置调度触发器即可-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="weatherTimingScheduleTrigger"/>
                <ref bean="stockTimingScheduleTrigger"/>
            </list>
        </property>
    </bean>
</beans>