<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop" 
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:tx="http://www.springframework.org/schema/tx" 
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd ">

	<!-- remark9：加载 jdbc.properties和redis.properties-->
 	<context:property-placeholder location="classpath:conf/props/**/*.properties"/>

	<!-- remark10：配置数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<!-- 连接池启动时的初始值 -->
		<property name="initialSize" value="${jdbc.initialSize}" />
		<!-- 连接池的最大值 -->
		<property name="maxActive" value="${jdbc.maxActive}" />
		<!-- 最大空闲值，当经过一个高峰时间后，连接池可以慢慢将已经用不到的链接慢慢释放一部分，一直减小到maxIdle为止 -->
		<property name="maxIdle" value="${jdbc.maxIdle}" />
		<!-- 最小空闲值，当空闲的连接数小于闸值时，连接池就会预申请去一些连接，以免洪峰来时来不急申请 -->
		<property name="minIdle" value="${jdbc.minIdle}" />
        <!--removeAbandoned: 是否自动回收超时连接--> 
		<property name="removeAbandoned" value="true"/> 
		<!--removeAbandonedTimeout: 超时时间(以秒数为单位)--> 
		<property name="removeAbandonedTimeout" value="180"/> 
		<!--maxWait: 超时等待时间以毫秒为单位 60000毫秒/1000等于60秒--> 
		<property name="maxWait" value="60000"/> 
		<property name="validationQuery" value="SELECT NOW() FROM DUAL"/>  
		<property name="testOnBorrow" value="true"/>
	</bean>
	
	
	  <!-- remark30 :配置redis begin-->
	  <!-- Redis在3.x版本前是不支持服务端集群的，所以Jedis通过采用一致性哈稀分片算法（Shard），将不同的key分配到不同的redis server上，以达到横向扩展的目的。 -->
		<bean id="jedisPoolConfig"  class="redis.clients.jedis.JedisPoolConfig"  >  
		    <property name="maxActive"  value="${redis.pool.maxActive}" />  
		    <property name="maxIdle"    value="${redis.pool.maxIdle}" />  
		    <property name="maxWait"    value="${redis.pool.maxWait}" />  
		    <property name="testOnBorrow" value="${redis.pool.testOnBorrow}" />  
		</bean>  
		
		 <bean id="jedisShardInfo1" class="com.bert.redis.NewJedisShardInfo">  
	        <constructor-arg  index="0"   value="${redis.ip}" />  
		    <constructor-arg  index="1"   value="${redis.port}" type="int" />  
		    <constructor-arg  index="2"   value="${redis.pool.password}"/>   
    	</bean>  
		
		<bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool" >  
		    <constructor-arg index="0"  ref="jedisPoolConfig" />  
		    <constructor-arg index="1">  
		        <list>  
		            <ref bean="jedisShardInfo1"/> 
		        </list>  
		    </constructor-arg>  
		</bean>
		
	 <!--配置redis end-->	
	
	
	<!--remark13: 配置Spring JdbcTemplate-->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    
    
    
    <!--remark14： 事务配置begin，事务管理器DataSourceTransactionManager -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<!--remark15：声明式事务方式1，基于tx和aop命名空间的xml配置文件-->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" rollback-for="Exception"/>
			<tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception"/>
			<tx:method name="update*" propagation="REQUIRED" rollback-for="Exception"/>
			<tx:method name="*" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	

	<!--remark16：事务作用切面表达式 execution(* com.bert.core.*.*.*.*(..))  注意表达式中间用OR链接，大小写敏感-->
	<!--remark27: AOP用法1：事务控制 -->
	<aop:config>
		<aop:pointcut id="txPointcut" expression="execution(* com.bert.core.*.*.*.*(..)) "/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut" order="1"/>
	</aop:config>


	<!-- remark17：声明式事务方式2，基于tx和aop命名空间的xml配置文件-->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<!--事务配置end -->
	
	
	<!--remark18：spring集成MyBatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	  <property name="dataSource" ref="dataSource" />
	  <property name="configLocation" value="classpath:conf/mybatis/config.xml"/>
	</bean>	
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
       <property name="basePackage" value="com.bert.core.**.dao" />
    </bean>
    
    
     <!-- remark23 ：EhCache配置 -->
     <!-- 缓存适合的场景：常用的一些基础数据，实时性要求不高，例如区域数据 。项目启动的时候将这些数据缓存到cache，用的时候直接获取-->
     <!-- spring-context-support-4.3.16.RELEASE.jar -->
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation">
			<value>classpath:conf/cache/ehcache.xml</value>
		</property>
	</bean>

	<bean id="cacheFactory" class="com.bert.factory.EhCacheFactory">
		<property name="cacheManager" ref="cacheManager"/>
	</bean>
	
    
</beans>