<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bert.common.batis.dao.mapper.CommonDaoMapper">

    <sql id="condition_Search">
        <where>
            <foreach collection="condition.criterias" item="criteria"
                     separator="or">
                <trim prefix="(" suffix=")">
                    <foreach collection="criteria.criterions" item="criterion"
                             separator="and">
                        <choose>
                            <when
                                    test="criterion instanceof com.bert.common.batis.criterion.BetweenCriterion">
                                ${cirterion.statement} #{cirterion.lo} and
                                #{criterion.hi}
                            </when>
                            <when
                                    test="criterion instanceof com.bert.common.batis.criterion.InCriterion">
                                ${cirterion.statement}
                                <foreach collection="cirterion.values" item="val" open="("
                                         close=")" separator=",">
                                    #{val}
                                </foreach>
                            </when>
                            <when
                                    test="criterion instanceof com.bert.common.batis.criterion.LikeCriterion">
                                ${criterion.statement}
                                concat('%',#{criterion.value},'%')
                            </when>
                            <when
                                    test="criterion instanceof com.bert.common.batis.criterion.NotNullCriterion">
                                ${criterion.statement}
                            </when>
                            <when
                                    test="criterion instanceof com.bert.common.batis.criterion.NullCriterion">
                                ${criterion.statement}
                            </when>
                            <when
                                    test="criterion instanceof com.bert.common.batis.criterion.SimpleCriterion">
                                ${criterion.statement} #{criterion.value}
                            </when>
                        </choose>
                    </foreach>
                </trim>
            </foreach>
            <foreach collection="condition.orderList" separator=","
                     item="order">
                ${order.statement}
            </foreach>
            <if test="condition.maxResults>0">
                limit ${condition.firstResult},${condition.maxResults}
            </if>
        </where>
    </sql>
    
    <select id="selectByCriteria" parameterType="com.bert.common.batis.Condition">
        select
        * from @tableName@
        <if test="_parameter != null">
            <include refid="condition_Search"/>
        </if>
    </select>
    
    <select id="selectByPrimaryKey">
        select * from @tableName@
    </select>
    
    <select id="countByCriteria" parameterType="com.bert.common.batis.Condition"
            resultType="java.lang.Integer">
        select count(*) from @tableName@
        <if test="_parameter != null">
            <include refid="condition_Search"/>
        </if>
    </select>
    
    <delete id="deleteByPrimaryKey">
		delete from @tableName@
	</delete>
	
    <delete id="deleteByCriteria">
        delete from @tableName@
        <if test="_parameter != null">
            <include refid="condition_Search"/>
        </if>
    </delete>
    
    <insert id="insert">
		insert into @tableName@
	</insert>
	
    <update id="updateByCriteria">
        update @tableName@
        <if test="_parameter != null">
            <include refid="condition_Search"/>
        </if>
    </update> 
    
    <update id="updateByPrimaryKey">
		update @tableName@
	</update>
	
</mapper>