<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
 	<!--remark19：MyBatis配置文件-->
	<configuration>
		<settings>
			<!--设置日志记录使用方式-->
			<setting name="logPrefix" value="dao."/>  
		</settings>
		<!-- 配置类型别名-->
		<typeAliases>
		  	<package name="com.bert.domain"/>
		</typeAliases>
		<!-- 翻页插件拦截器-->
		<plugins>
			<plugin interceptor="com.bert.query.MyBatisPaginationInterceptor">
				<property name="dialect" value="mysql" />
			</plugin>
		</plugins>
	</configuration>